<div class="text-right">
      <button type="button" (click)="updateInfo('save',false,true)" class="btn btn-primary">New</button>
    
  </div>





<div class="container">
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          
          <th>Emp Name</th>
          <th>Salary</th>
          <th>Dept Name</th>
          <th>Designation</th>
          
          <th></th>
          <th></th>
        </tr>
      </thead>
	  <tbody>
	  
        <tr *ngFor="let c of companies">
         
          <td>{{c.empname}}</td>
          <td>{{c.salary}}</td>
          <td>{{c.deptname}}</td>
          <td>{{c.designation}}</td>
          
           
		  <td>
			 <button type="button" (click)="updateInfo('update',true,false);populatedata(c)" class="btn btn-primary">edit</button>
		  </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
          </td>
        
        </tr>
      </tbody>
    </table>
</div>
